*.log
logs/*log
estimate_model_ryan.sh
.DS_Store
0_build.do
1_descriptives.do
2_lottery_analysis.do
distance_to_choice_maps.R
estimation_log_runs.txt
*.txt
*.txt
estimation_log_runs.txt
likelihood_explore.R
*.ipynb
*.pyc
